<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.dao.ActivityDao">

    <!-- 新增活动 -->
    <insert id="insertActivity" parameterType="com.gas.pojo.Activity">
        insert into activity(activity_name,activity_start_date,activity_end_date,activity_discount_value,
        activity_sitecode,activity_state,activity_remarks,activity_del,activity_condition)
        values (#{activity_name},#{activity_start_date},#{activity_end_date},#{activity_discount_value},
        #{activity_sitecode},1,#{activity_remarks},1,#{activity_condition})
    </insert>

    <!-- 修改活动 -->
    <update id="updateActivity" parameterType="com.gas.pojo.Activity">
        update activity
        <set>
            <if test="activity_name!='' and activity_name!=null">
                activity_name=#{activity_name},
            </if>
            activity_start_date=#{activity_start_date},
            activity_end_date=#{activity_end_date},
            <if test="activity_discount_value!=null">
                activity_discount_value=#{activity_discount_value},
            </if>
            <if test="activity_sitecode!=0 and activity_sitecode!=null">
                activity_sitecode=#{activity_sitecode},
            </if>
            <if test="activity_state!=0 and activity_state!=null">
                activity_state=#{activity_state},
            </if>
            <if test="activity_remarks!='' and activity_remarks!=null">
                activity_remarks=#{activity_remarks},
            </if>
            <if test="activity_condition!=0 and activity_condition!=null">
                activity_condition=#{activity_condition}
            </if>
        </set>
        where activity_id=#{activity_id}
    </update>

    <!-- 查询当前站点下的所有活动 -->
    <select id="findAllActivityBySite" parameterType="com.gas.pojo.Activity" resultType="com.gas.pojo.Activity">
        select * from activity where activity_del=1
        <if test="activity_sitecode!=0 and activity_sitecode!=null">
            and activity_sitecode=#{activity_sitecode}
        </if>
        <if test="activity_name!=''and activity_name!=null">
            and activity_name=#{activity_name}
        </if>
        <if test="activity_start_date!=null">
            and activity_start_date &gt;=#{activity_start_date}
        </if>
        <if test="activity_end_date!=null">
            and activity_end_date &lt;=#{activity_end_date}
        </if>
    </select>

    <!-- 删除活动 -->
    <update id="deleteActivityById" parameterType="Integer">
        update activity set activity_del=2 where activity_id=#{activity_id}
    </update>

    <!-- 根据id查询活动 -->
    <select id="findActivityById" parameterType="Integer" resultType="Activity">
        select * from activity where activity_id=#{rc_activity}
    </select>
</mapper>