<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.dao.AuthorityDao">

    <select id="findUserByName" parameterType="String" resultType="User">
       select * from user where user_loginname=#{loginname} and user_del=1
    </select>

    <select id="findUserById" parameterType="Integer" resultType="User">
       select * from user where user_id=#{id} and user_del=1
    </select>

    <select id="findAllUser" parameterType="User" resultType="User">
       select * from user where  user_del=1
       <if test="user_sitecode!=7 and user_sitecode!=null">
           and  user_sitecode=#{user_sitecode}
       </if>
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user (user_name,user_pwd,user_loginname,user_phone,user_sitecode,user_id_number,user_gender,user_del,user_role_id,user_classes)
        value (#{user_name},#{user_pwd},#{user_loginname},#{user_phone},#{user_sitecode},#{user_id_number},#{user_gender},1,#{user_role_id},#{user_classes})
    </insert>
    
    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test='user_name!=null and user_name!=""'>
                user_name=#{user_name},
            </if>
            <if test='user_pwd!=null and user_pwd!=""'>
                user_pwd=#{user_pwd},
            </if>
            <if test='user_loginname!=null and user_loginname!=""'>
                user_loginname=#{user_loginname},
            </if>
            <if test='user_phone!=null and user_phone!=""'>
                user_phone=#{user_phone},
            </if>
            <if test="user_sitecode!=0 and user_sitecode!=null">
                user_sitecode=#{user_sitecode},
            </if>
            <if test='user_id_number!=null and user_id_number!=""'>
                user_id_number=#{user_id_number},
            </if>
            <if test="user_gender!=0 and user_gender!=null">
                user_gender=#{user_gender},
            </if>
            <if test="user_role_id!=0 and user_role_id!=null">
                user_role_id=#{user_role_id},
            </if>
            <if test='user_classes!=null and user_classes!=""'>
                user_classes=#{user_classes}
            </if>
            where user_id=#{user_id}
        </set>
    </update>

    <update id="deleteUser" parameterType="Integer">
        update user set user_del=2 where user_id=#{user_id}
    </update>

    <!--.............................................................................................-->

    <select id="findRoleByName" parameterType="String" resultType="Role">
       select * from role where role_name=#{rolename} and role_del=1
    </select>

    <select id="findRoleById" parameterType="Integer" resultType="Role">
       select * from role where role_id=#{id} and role_del=1
    </select>

    <select id="findAllRole" parameterType="Role" resultType="Role">
       select * from role where  role_del=1
       <if test="role_sitecode!=7 and role_sitecode!=null">
           and role_sitecode=#{role_sitecode}
       </if>
    </select>

    <insert id="insertRole" parameterType="Role" useGeneratedKeys="true" keyProperty="role_id">
        insert into role (role_name,role_state,role_sitecode,role_remark,role_del)
        value (#{role_name},1,#{role_sitecode},#{role_remark},1)
    </insert>

    <update id="updateRole" parameterType="Role">
        update role
        <set>
            <if test='role_name!=null and role_name!=""'>
                role_name=#{role_name},
            </if>
            <if test="role_state!=0 and role_state!=null">
                role_state=#{role_state},
            </if>
            <if test='role_remark!=null and role_remark!=""'>
                role_remark=#{role_remark},
            </if>
            <if test="role_sitecode!=0 and role_sitecode!=null">
                role_sitecode=#{role_sitecode}
            </if>
            where role_id=#{role_id}
        </set>
    </update>

    <update id="deleteRole" parameterType="Integer">
        update role set role_del=2 where role_id=#{role_id}
    </update>

    <!--.............................................................................................-->

    <select id="findMenuByName" parameterType="String" resultType="Menu">
       select * from menu where menu_name=#{menuname} and menu_del=1
    </select>

    <select id="findMenuById" parameterType="Integer" resultType="Menu">
       select * from menu where menu_id=#{id} and menu_del=1
    </select>

    <select id="findMenuByRoleId" parameterType="Integer" resultType="Menu">
        select m.* from role_menu rm,menu m
        where rm.role_id=#{role_id} and rm.menu_id=m.menu_id and m.menu_del=1
    </select>

    <select id="findAllMenu" resultType="Menu">
       select * from menu where menu_del=1
    </select>

    <select id="findMenuByLevel" parameterType="Integer" resultType="Menu">
      select * from menu where menu_level=#{menu_level} and menu_del =1
    </select>

    <insert id="insertMenu" parameterType="Menu">
        insert into menu (menu_name,menu_url,menu_state,menu_level,menu_fid,menu_remark,menu_del,menu_category)
        value (#{menu_name},#{menu_url},1,#{menu_level},#{menu_fid},#{menu_remark},1,#{menu_category})
    </insert>

    <update id="updateMenu" parameterType="Menu">
        update menu
        <set>
            <if test='menu_name!=null and menu_name!=""'>
                menu_name=#{menu_name},
            </if>
            <if test='menu_url!=null and menu_url!=""'>
                menu_url=#{menu_url},
            </if>
            <if test="menu_state!=0 and menu_state!=null">
                menu_state=#{menu_state},
            </if>
            <if test="menu_level!=0 and menu_level!=null">
                menu_level=#{menu_level},
            </if>
            <if test="menu_fid!=0 and menu_fid!=null">
                menu_fid=#{menu_fid},
            </if>
            <if test='menu_remark!=null and menu_remark!=""'>
                menu_remark=#{menu_remark}
            </if>
            where menu_id=#{menu_id}
        </set>
    </update>

    <update id="deleteMenu" parameterType="Integer">
        update menu set menu_del=2 where menu_id=#{menu_id}
    </update>

    <!--.............................................................................................-->

    <insert id="insertRole_Menu" parameterType="Integer">
        insert into role_menu values(#{param1},#{param2})
    </insert>

    <delete id="deleteRole_Menu" parameterType="Integer">
        delete from role_menu where role_id=#{role_id}
    </delete>

    <select id="findRcByUserId" parameterType="Integer" resultType="com.gas.pojo.Records_consumption">
        select * from records_consumption where rc_wu_id=#{wu_id}
    </select>

    <!-- 根据id查询站点 -->
    <select id="findSiteById" parameterType="Integer" resultType="com.gas.pojo.Site">
        select * from site where site_id=#{rc_sitecode}
    </select>

    <!-- 查询微信用户 -->
    <select id="findWcUser"  parameterType="com.gas.pojo.Wechat_users" resultType="com.gas.pojo.Wechat_users">
        select * from wechat_users where wu_del=1
        <if test="wu_id_number!=null and wu_id_number!=''">
            and wu_id_number =#{wu_id_number}
        </if>
        <if test="wu_membership_card_number!=null and wu_membership_card_number!=''">
            and wu_membership_card_number =#{wu_membership_card_number}
        </if>
        <if test="wu_telephone!=null and wu_telephone!=''">
            and wu_telephone =#{wu_telephone}
        </if>
        <if test="wu_sitecode!=0 and wu_sitecode!=''">
            and wu_sitecode =#{wu_sitecode}
        </if>
    </select>

    <select id="findSite" resultType="com.gas.pojo.Site">
        select * from site where site_del =1
    </select>

    <select id="findUserByNs" parameterType="User" resultType="User">
        select * from `user` where user_del =1
        <if test="user_loginname!=null and user_loginname!=''">
            and user_loginname=#{user_loginname}
        </if>
        <if test="user_sitecode!=null and user_sitecode!=0">
            and user_sitecode=#{user_sitecode}
        </if>
    </select>

    <!-- 新增站点 -->
    <insert id="addSite" parameterType="com.gas.pojo.Site">
        insert into site(site_name,site_appid,site_secret,site_mch_id,site_org_code,site_state,site_del)
        values (#{site_name},#{site_appid},#{site_secret},#{site_mch_id},#{site_org_code},1,1)
    </insert>
    <!--修改站点-->
    <update id="updateSite" parameterType="com.gas.pojo.Site">
        update site
        <set>
            <if test='site_name!=null and site_name!=""'>
                site_name=#{site_name},
            </if>
            <if test='site_appid!=null and site_appid!=""'>
                site_appid=#{site_appid},
            </if>
            <if test='site_secret!=null and site_secret!=""'>
                site_secret=#{site_secret},
            </if>
            <if test='site_mch_id!=null and site_mch_id!=""'>
                site_mch_id=#{site_mch_id},
            </if>
            <if test='site_org_code!=null and site_org_code!=""'>
                site_org_code=#{site_org_code},
            </if>
            <if test='site_state!=0 and site_state!=null'>
                site_state=#{site_state}
            </if>
        </set>
        where site_id=#{site_id}
    </update>
    <!-- 删除站点 -->
    <delete id="deleteSite" parameterType="Integer">
        delete from site where site_id=#{site_id}
    </delete>

    <!-- 删除当前角色下的所有菜单 -->
    <delete id="deleteMenuByRoId" parameterType="Integer">
        delete from role_menu where role_id =#{role_id}
    </delete>

    <!-- 根据站点查询油价信息 -->
    <select id="findAllOliInfoBySite" parameterType="Integer" resultType="com.gas.pojo.Oil_price">
        select * from oil_price where op_sitecode=#{site_id} and op_del =1
    </select>

    <!-- 根据id查询油价信息 -->
    <select id="findOliInfoById" parameterType="Integer" resultType="com.gas.pojo.Oil_price">
        select * from oil_price where op_id=#{oil_id} and op_del =1
    </select>

    <!-- 新增油价 -->
    <insert id="insertOliInfo" parameterType="com.gas.pojo.Oil_price">
        insert into oil_price(op_name,op_price,op_sitecode,op_state,op_del) values (#{op_name},#{op_price},#{op_sitecode},1,1)
    </insert>

    <!-- 修改油价 -->
    <update id="updateOliInfo" parameterType="com.gas.pojo.Oil_price">
        update oil_price
        <set>
            <if test="op_name!='' and op_name!=null">
                op_name=#{op_name},
            </if>
            <if test="op_price!=0 and op_price!=null">
                op_price=#{op_price},
            </if>
            <if test="op_sitecode!=0 and op_sitecode!=null">
                op_sitecode=#{op_sitecode},
            </if>
            <if test="op_state!=0 and op_state!=null">
                op_state=#{op_state}
            </if>
        </set>
        where op_id=#{op_id}
    </update>
    <!-- 删除油价 -->
    <update id="deleteOliInfoById" parameterType="Integer">
        update oil_price set  op_del=2 where op_id=#{oil_id}
    </update>

    <!-- 根据id查询微信用户 -->
    <select id="findWcUserById" parameterType="Integer" resultType="Wechat_users">
        select * from wechat_users where wu_del=1 and wu_id=#{wu_id}
    </select>

    <!-- 修改微信用户 -->
    <update id="updateWcUserById" parameterType="Wechat_users">
        update wechat_users
        <set>
            <if test='wu_name!=null and wu_name!=""'>
                wu_name=#{wu_name},
            </if>
            <if test='wu_fullname!=null and wu_fullname!=""'>
                wu_fullname=#{wu_fullname},
            </if>
            <if test='wu_telephone!=null and wu_telephone!=""'>
                wu_telephone=#{wu_telephone},
            </if>
            <if test="wu_gender!=0 and wu_gender!=null">
                wu_gender=#{wu_gender},
            </if>
            <if test="wu_birthday!=null">
                wu_birthday=#{wu_birthday},
            </if>
            <if test='wu_id_number!=null and wu_id_number!=""'>
                wu_id_number=#{wu_id_number},
            </if>
            <if test="wu_current_points!=0 and wu_current_points!=null">
                wu_current_points=#{wu_current_points},
            </if>
            <if test="wu_integral!=0 and wu_integral!=null">
                wu_integral=#{wu_integral},
            </if>
            <if test="wu_remainder!=0 and wu_remainder!=null">
                wu_remainder=#{wu_remainder},
            </if>
            <if test="wu_membership_card_growth !=0 and wu_membership_card_growth !=null">
                wu_membership_card_growth =#{wu_membership_card_growth},
            </if>
            <if test="wu_recommend_num !=0 and wu_recommend_num !=null">
                wu_recommend_num =#{wu_recommend_num},
            </if>
            <if test="wu_state !=0 and wu_state !=null">
                wu_state =#{wu_state},
            </if>
            <if test='wu_remarks!=null and wu_remarks!=""'>
                wu_remarks =#{wu_remarks}
            </if>
        </set>
        where wu_id=#{wu_id}
    </update>

    <!-- 删除微信用户 -->
    <update id="deleteWcUserById" parameterType="Integer">
        update wechat_users set wu_del=2 where wu_id=#{wu_id}
    </update>

    <!-- 新增优惠卷 -->
    <insert id="insertCoupon" parameterType="com.gas.pojo.Coupon">
        insert into coupon(coupon_name,coupon_describe,coupon_money,coupon_number,coupon_term_validity,coupon_enddate,coupon_threshold,coupon_sitecode,coupon_integralnum,coupon_state,coupon_del,coupon_remarks)
        values(#{coupon_name},#{coupon_describe},#{coupon_money},#{coupon_number},#{coupon_term_validity},#{coupon_enddate},#{coupon_threshold},#{coupon_sitecode},#{coupon_integralnum},1,1,#{coupon_remarks})
    </insert>

    <!-- 查询当前站点下的所有优惠卷 -->
    <select id="findAllCouponBySite" parameterType="com.gas.pojo.Coupon" resultType="com.gas.pojo.Coupon">
        select * from coupon where coupon_del=1
        <if test="coupon_sitecode!=0 and coupon_sitecode!=null">
            and coupon_sitecode =#{coupon_sitecode}
        </if>
        <if test="coupon_term_validity!=null">
            and coupon_term_validity =#{coupon_term_validity}
        </if>
        <if test="coupon_name!='' and coupon_name!=null">
            and coupon_name =#{coupon_name}
        </if>
    </select>

    <!-- 删除优惠卷 -->
    <update id="deleteCouponById" parameterType="Integer">
          update coupon set coupon_del=2 where coupon_id=#{coupon_id}
    </update>

    <!-- 更新优惠卷 -->
    <update id="updateCouponById" parameterType="com.gas.pojo.Coupon">
        update coupon
        <set>
            <if test="coupon_name!='' and coupon_name!=null">
                coupon_name=#{coupon_name},
            </if>
            <if test="coupon_describe!='' and coupon_describe!=null">
                coupon_describe=#{coupon_describe},
            </if>
            <if test="coupon_money!=0 and coupon_money!=null">
                coupon_money=#{coupon_money},
            </if>
            <if test="coupon_number!=0 and coupon_number!=null">
                coupon_number=#{coupon_number},
            </if>
            <if test="coupon_term_validity!=null">
                coupon_term_validity=#{coupon_term_validity},
            </if>
            <if test="coupon_enddate!=null">
                coupon_enddate=#{coupon_enddate},
            </if>
            <if test="coupon_threshold!=0 and coupon_threshold!=null">
                coupon_threshold=#{coupon_threshold},
            </if>
            <if test="coupon_sitecode!=null">
                coupon_sitecode=#{coupon_sitecode},
            </if>
            <if test="coupon_integralnum!=null">
                coupon_integralnum=#{coupon_integralnum},
            </if>
            <if test="coupon_state!=0 and coupon_state!=null">
                coupon_state=#{coupon_state},
            </if>
            <if test="coupon_remarks!='' and coupon_remarks!=null">
                coupon_remarks=#{coupon_remarks}
            </if>
        </set>
         where coupon_id=#{coupon_id}
    </update>

    <!-- 新增活动 -->
    <insert id="insertActivity" parameterType="com.gas.pojo.Activity">
        insert into activity(activity_name,activity_start_date,activity_end_date,activity_discount_value,
        activity_sitecode,activity_state,activity_remarks,activity_del,activity_condition)
        values (#{activity_name},#{activity_start_date},#{activity_end_date},#{activity_discount_value},
        #{activity_sitecode},1,#{activity_remarks},1,#{activity_condition})
    </insert>

    <!-- 修改活动 -->
    <update id="updateActivity" parameterType="com.gas.pojo.Activity">
        update activity
        <set>
            <if test="activity_name!='' and activity_name!=null">
                activity_name=#{activity_name},
            </if>
            activity_start_date=#{activity_start_date},
            activity_end_date=#{activity_end_date},
            <if test="activity_discount_value!=null">
                activity_discount_value=#{activity_discount_value},
            </if>
            <if test="activity_sitecode!=0 and activity_sitecode!=null">
                activity_sitecode=#{activity_sitecode},
            </if>
            <if test="activity_state!=0 and activity_state!=null">
                activity_state=#{activity_state},
            </if>
            <if test="activity_remarks!='' and activity_remarks!=null">
                activity_remarks=#{activity_remarks},
            </if>
            <if test="activity_condition!=0 and activity_condition!=null">
                activity_condition=#{activity_condition}
            </if>
        </set>
        where activity_id=#{activity_id}
    </update>

    <!-- 查询当前站点下的所有活动 -->
    <select id="findAllActivityBySite" parameterType="com.gas.pojo.Activity" resultType="com.gas.pojo.Activity">
        select * from activity where activity_del=1
        <if test="activity_sitecode!=0 and activity_sitecode!=null">
            and activity_sitecode=#{activity_sitecode}
        </if>
        <if test="activity_name!=''and activity_name!=null">
            and activity_name=#{activity_name}
        </if>
        <if test="activity_start_date!=null">
            and activity_start_date &gt;=#{activity_start_date}
        </if>
        <if test="activity_end_date!=null">
            and activity_end_date &lt;=#{activity_end_date}
        </if>
    </select>

    <!-- 删除活动 -->
    <update id="deleteActivityById" parameterType="Integer">
        update activity set activity_del=2 where activity_id=#{activity_id}
    </update>

    <!-- 用户上下班时间打卡 -->
    <update id="updateUserOnOrOffDuty" parameterType="User">
        update `user`
        <set>
            <if test="user_onduty_time!=null">
                user_onduty_time=#{user_onduty_time}
            </if>
            <if test="user_offduty_time!=null">
                user_offduty_time=#{user_offduty_time}
            </if>
        </set>
        where user_sitecode=#{user_sitecode} and user_classes=#{user_classes}
    </update>

    <!-- 根据id查询活动 -->
    <select id="findActivityById" parameterType="Integer" resultType="Activity">
        select * from activity where activity_id=#{rc_activity}
    </select>

    <!-- 根据id查询优惠卷 -->
    <select id="findCouponById" parameterType="Integer" resultType="com.gas.pojo.Coupon">
        select * from coupon where coupon_id=#{rc_coupon}
    </select>

    <!-- 查询当前站点下的用户信息 -->
    <select id="findUserOnOrOffDuty" parameterType="Integer" resultType="User">
          select * from `user` where user_id=#{user_id} and user_sitecode=#{user_sitecode}
    </select>

    <!-- 更新消费记录打印单号 -->
    <update id="updateReByRcNum" parameterType="String">
        update records_consumption set rc_print_num=#{data} where rc_number=#{rc_number}
    </update>
</mapper>