<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.dao.AuthorityDao">

    <select id="findRoleByName" parameterType="String" resultType="Role">
       select * from role where role_name=#{rolename} and role_del=1
    </select>

    <select id="findRoleById" parameterType="Integer" resultType="Role">
       select * from role where role_id=#{id} and role_del=1
    </select>

    <select id="findAllRole" parameterType="Role" resultType="Role">
       select * from role where  role_del=1
       <if test="role_sitecode!=7 and role_sitecode!=null">
           and role_sitecode=#{role_sitecode}
       </if>
    </select>

    <insert id="insertRole" parameterType="Role" useGeneratedKeys="true" keyProperty="role_id">
        insert into role (role_name,role_state,role_sitecode,role_remark,role_del)
        value (#{role_name},1,#{role_sitecode},#{role_remark},1)
    </insert>

    <update id="updateRole" parameterType="Role">
        update role
        <set>
            <if test='role_name!=null and role_name!=""'>
                role_name=#{role_name},
            </if>
            <if test="role_state!=0 and role_state!=null">
                role_state=#{role_state},
            </if>
            <if test='role_remark!=null and role_remark!=""'>
                role_remark=#{role_remark},
            </if>
            <if test="role_sitecode!=0 and role_sitecode!=null">
                role_sitecode=#{role_sitecode}
            </if>
            where role_id=#{role_id}
        </set>
    </update>

    <update id="deleteRole" parameterType="Integer">
        update role set role_del=2 where role_id=#{role_id}
    </update>

    <select id="findMenuByName" parameterType="String" resultType="Menu">
       select * from menu where menu_name=#{menuname} and menu_del=1
    </select>

    <select id="findMenuById" parameterType="Integer" resultType="Menu">
       select * from menu where menu_id=#{id} and menu_del=1
    </select>

    <select id="findMenuByRoleId" parameterType="Integer" resultType="Menu">
        select m.* from role_menu rm,menu m
        where rm.role_id=#{role_id} and rm.menu_id=m.menu_id and m.menu_del=1
    </select>

    <select id="findAllMenu" resultType="Menu">
       select * from menu where menu_del=1
    </select>

    <select id="findMenuByLevel" parameterType="Integer" resultType="Menu">
      select * from menu where menu_level=#{menu_level} and menu_del =1
    </select>

    <insert id="insertMenu" parameterType="Menu">
        insert into menu (menu_name,menu_url,menu_state,menu_level,menu_fid,menu_remark,menu_del,menu_category)
        value (#{menu_name},#{menu_url},1,#{menu_level},#{menu_fid},#{menu_remark},1,#{menu_category})
    </insert>

    <update id="updateMenu" parameterType="Menu">
        update menu
        <set>
            <if test='menu_name!=null and menu_name!=""'>
                menu_name=#{menu_name},
            </if>
            <if test='menu_url!=null and menu_url!=""'>
                menu_url=#{menu_url},
            </if>
            <if test="menu_state!=0 and menu_state!=null">
                menu_state=#{menu_state},
            </if>
            <if test="menu_level!=0 and menu_level!=null">
                menu_level=#{menu_level},
            </if>
            <if test="menu_fid!=0 and menu_fid!=null">
                menu_fid=#{menu_fid},
            </if>
            <if test='menu_remark!=null and menu_remark!=""'>
                menu_remark=#{menu_remark}
            </if>
            where menu_id=#{menu_id}
        </set>
    </update>

    <update id="deleteMenu" parameterType="Integer">
        update menu set menu_del=2 where menu_id=#{menu_id}
    </update>


    <insert id="insertRole_Menu" parameterType="Integer">
        insert into role_menu values(#{param1},#{param2})
    </insert>

    <delete id="deleteRole_Menu" parameterType="Integer">
        delete from role_menu where role_id=#{role_id}
    </delete>

    <!-- 删除当前角色下的所有菜单 -->
    <delete id="deleteMenuByRoId" parameterType="Integer">
        delete from role_menu where role_id =#{role_id}
    </delete>

</mapper>