<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.dao.WechatUsersDao">


    <!--findAllRecharge-->
    <resultMap id="findAllRechargeMap" type="Recharge">
        <id column="rech_id" property="rech_id"/>
        <result column="rech_quota" property="rech_quota"/>
        <result column="rech_Integeregral_value" property="rech_Integeregral_value"/>
        <result column="rech_balance_value" property="rech_balance_value"/>
        <result column="rech_coupons_id" property="rech_coupons_id"/>
        <result column="rech_site_id" property="rech_site_id"/>
        <result column="rech_del" property="rech_del"/>
        <association property="coupon" javaType="Coupon">
            <id column="coupon_id" property="coupon_id"/>
            <result column="coupon_name" property="coupon_name"/>
        </association>
    </resultMap>

    <!--findCarouselByCal_id-->
    <resultMap id="findCarouselByCal_idMap" type="Carousel">
        <id column="cal_id" property="cal_id"/>
        <result column="cal_code" property="cal_code"/>
        <result column="cal_name" property="cal_name"/>
        <result column="cal_describe" property="cal_describe"/>
        <collection property="product_pictureList" ofType="Product_picture">
            <id column="ppe_id" property="ppe_id"/>
            <result column="ppe_type" property="ppe_type"/>
            <result column="ppe_url" property="ppe_url"/>
        </collection>
    </resultMap>

    <resultMap id="findCouponByWci_wu_idMap" type="Wu_coupon_information">
        <id column="wci_id" property="wci_id"/>
        <result column="wci_coupon_id" property="wci_coupon_id"/>
        <result column="wci_wu_id" property="wci_wu_id"/>
        <result column="wci_state" property="wci_state"/>
        <association property="coupon" javaType="Coupon">
            <id column="coupon_id" property="coupon_id"/>
            <result column="coupon_name" property="coupon_name"/>
            <result column="coupon_type" property="coupon_type"/>
            <result column="coupon_money" property="coupon_money"/>
            <result column="coupon_discount" property="coupon_discount"/>
            <result column="coupon_number" property="coupon_number"/>
            <result column="coupon_threshold" property="coupon_threshold"/>
            <result column="coupon_term_validity" property="coupon_term_validity"/>
            <result column="coupon_enddate" property="coupon_enddate"/>
            <result column="coupon_site_id" property="coupon_site_id"/>
            <result column="coupon_exchange_code" property="coupon_exchange_code"/>
            <result column="coupon_state" property="coupon_state"/>
            <result column="coupon_del" property="coupon_del"/>
        </association>
    </resultMap>

    <!--findAllPointegers_item-->
    <resultMap id="findAllPointegers_itemMap" type="Pointegers_item">
        <id column="pim_id" property="pim_id"/>
        <result column="pim_name" property="pim_name"/>
        <result column="pim_describe" property="pim_describe"/>
        <result column="pim_poIntegers_number" property="pim_poIntegers_number"/>
        <result column="pim_stock" property="pim_stock"/>
        <result column="pim_site_id" property="pim_site_id"/>
        <result column="pim_state" property="pim_state"/>
        <result column="pim_del" property="pim_del"/>
        <collection property="pictureList" ofType="Product_picture">
            <id column="ppe_id" property="ppe_id"/>
            <result column="ppe_type" property="ppe_type"/>
            <result column="ppe_type" property="ppe_type"/>
            <result column="ppe_url" property="ppe_url"/>
            <result column="ppe_pim_id" property="ppe_pim_id"/>
            <result column="ppe_siteid" property="ppe_siteid"/>
            <result column="ppe_default" property="ppe_default"/>
        </collection>
    </resultMap>
    

    <select id="findWechat_usersByOpenId" parameterType="String" resultType="Wechat_users">
          select * from wechat_users where wu_openid=#{wu_openid}
    </select>

    <insert id="insertWechat_users1" parameterType="Wechat_users" useGeneratedKeys="true" keyProperty="wu_id">
        insert into wechat_users (wu_name,wu_fullname,wu_telephone,wu_gender,wu_birthday,wu_qr_code,wu_bar_code,wu_integral,wu_current_points,wu_remainder,
        wu_Invitation_code,wu_openid,wu_membership_card_number,wu_membership_card_growth,wu_sitecode,wu_recommend_num,wu_state,wu_del,wu_remarks)
        value (#{wu_name},#{wu_fullname},#{wu_telephone},#{wu_gender},#{wu_birthday},#{wu_qr_code},#{wu_bar_code},#{wu_integral},#{wu_integral},
        #{wu_remainder},#{wu_membership_card_number},#{wu_openid},#{wu_membership_card_number},#{wu_membership_card_growth},
        (select site_id from site where site_appid=#{wu_appid}),#{wu_recommend_num},1,1,#{wu_remarks})
    </insert>

    <!--添加新注册的用户-->
    <insert id="insertWechat_users" parameterType="Wechat_users" useGeneratedKeys="true" keyProperty="wu_id">
        insert into wechat_users (wu_name,wu_current_points,wu_remainder,wu_openid,wu_sitecode,wu_state,wu_del)
        values (#{wu_name},0,0,#{wu_openid},#{wu_sitecode},1,1);
    </insert>

    <!--微信用户完善信息-->
    <update id="updateWechat_users" parameterType="Wechat_users">
        update wechat_users
        <set>
            <if test='wu_fullname!=null and wu_fullname!=""'>
                wu_fullname=#{wu_fullname},
            </if>
            <if test='wu_telephone!=null and wu_telephone!=""'>
                wu_telephone=#{wu_telephone},
            </if>
            <if test="wu_gender!=0 and wu_gender!=null">
                wu_gender=#{wu_gender},
            </if>
            <if test="wu_state !=0 and wu_state !=null">
                wu_state =#{wu_state},
            </if>
            <if test='wu_remarks!=null and wu_remarks!=""'>
                wu_remarks =#{wu_remarks}
            </if>
        </set>
        where wu_id=#{wu_id}
    </update>

    <select id="findWci_numberByWci_wu_id" parameterType="Integer" resultType="Integer">
        select count(*) from wu_coupon_information where wci_wu_id=#{wci_wu_id}
    </select>

    <!--查询用户优惠券列表-->
    <select id="findCouponByWci_wu_id" parameterType="Integer" resultMap="findCouponByWci_wu_idMap">
        select  wi.*,c.*
        from wu_coupon_information wi,coupon c
        where wi.wci_wu_id=#{ucs_wu_id} and wi.wci_coupon_id=c.coupon_id and c.coupon_del=1
    </select>

    <select id="findRecords_consumptionByRc_wu_id" parameterType="Records_consumption" resultType="Records_consumption">
        select * from records_consumption where rc_wu_id=#{rc_wu_id}
         <if test='rc_Date_str!=null and rc_Date_str!=""'>
             and rc_datetime like CONCAT(#{rc_Date_str},'%')
         </if>
    </select>

    <select id="findAllActivity" parameterType="String" resultType="Activity">
        select * from activity
        where activity_sitecode=(select site_id from site where site_appid=#{activity_sitecode})
        and activity_del=1
        and DATE_FORMAT(#{date},'%Y-%m-%d') BETWEEN DATE_FORMAT(activity_start_date,'%Y-%m-%d') AND DATE_FORMAT(activity_end_date,'%Y-%m-%d')
    </select>

    <select id="findNoEndTimeActivity" parameterType="String" resultType="Activity">
        select * from activity
        where activity_sitecode=(select site_id from site where site_appid=#{activity_sitecode})
        and activity_del=1
        and activity_end_date is null
    </select>


    <select id="findAllCoupon" parameterType="String" resultType="Coupon">
        select * from coupon
        where coupon_sitecode=(select site_id from site where site_appid=#{coupon_sitecode})
        and coupon_del=1 and coupon_term_validity &lt;=#{now_date} and coupon_enddate &gt;=#{now_date}
    </select>
    
    <update id="updateCoupon" parameterType="Coupon">
        update coupon
        <set>
            <if test='coupon_name!=null and coupon_name!=""'>
                coupon_name=#{coupon_name},
            </if>
            <if test='coupon_describe!=null and coupon_describe!=""'>
                coupon_describe=#{coupon_describe},
            </if>
            <if test="coupon_money!=0 and coupon_money!=null">
                coupon_money=#{coupon_money},
            </if>
            <if test="coupon_number!=0 and coupon_number!=null">
                coupon_number=#{coupon_number},
            </if>
            <if test="coupon_term_validity!=null">
                coupon_term_validity=#{coupon_term_validity}
            </if>
            <if test="coupon_state!=0 and coupon_state!=null">
                coupon_state=#{coupon_state},
            </if>
            <if test='coupon_remarks!=null and coupon_remarks!=""'>
                coupon_remarks=#{coupon_remarks}
            </if>
        </set>
        where coupon_id=#{coupon_id}
    </update>

    <select id="findWCIcount" resultType="Integer">
        select count(*) from wu_coupon_information where wci_wu_id=#{wci_wu_id} and wci_coupon_type=#{wci_coupon_type}
    </select>

    <select id="findWCIcountUseNum" resultType="Integer">
        select count(*) from wu_coupon_information where wci_wu_id=#{wci_wu_id} and wci_coupon_type=#{wci_coupon_type} and wci_number=0
    </select>

    <update id="updateWCI" parameterType="Wu_coupon_information">
        update wu_coupon_information set wci_number=wci_number+#{wci_number} where wci_wu_id=#{wci_wu_id} and wci_coupon_type=#{wci_coupon_type}
    </update>

    <!--新增用户优惠券-->
    <insert id="insertWCI" parameterType="Wu_coupon_information">
        insert into wu_coupon_information (wci_coupon_id,wci_wu_id,wci_state)
        value(#{wci_coupon_id},#{wci_wu_id},1)
    </insert>

    <update id="updateWechat_usersWu_current_points" parameterType="Wechat_users">
        update wechat_users set wu_current_points=wu_current_points+#{wu_current_points} where wu_id=#{wu_id}
    </update>

    <update id="updateCouponCoupon_number" parameterType="Coupon">
        update coupon set coupon_number=coupon_number+#{coupon_number} where coupon_id=#{coupon_id}
    </update>

    <!--查询油价价格-->
    <select id="findAllOil_price" parameterType="String" resultType="Oil_price">
        select * from oil_price where op_del=1 and op_sitecode=#{op_sitecode}
    </select>

    <!--根据AppID 查询站点 -->
    <select id="findSiteByAppId" parameterType="String" resultType="Site">
        select * from site where site_appid=#{site_appid}
    </select>

    <!-- 根据id查询活动 -->
    <select id="findActivity" parameterType="Integer" resultType="com.gas.pojo.Activity">
        select * from activity where activity_id=#{rc_activity} and activity_del=1
    </select>

    <!-- 更新用户充值信息 -->
    <update id="updateWechatTopUpInfo" parameterType="Wechat_users">
        update wechat_users set wu_integral=wu_integral+#{wu_integral},wu_current_points=wu_current_points+#{wu_current_points},
        wu_remainder=wu_remainder+#{wu_remainder},wu_membership_card_growth=wu_membership_card_growth+#{wu_membership_card_growth}
        where wu_id=#{wu_id}
    </update>

    <!-- 用户充值待支付信息新增 -->
    <insert id="insertRecordsConsumptionWait" parameterType="com.gas.pojo.Records_consumption">
        insert into records_consumption_wait(rc_consumer_projects,rc_consumer_projects_code,rc_datetime,
        rc_actual_amount,rc_amount_payable,rc_wu_id,rc_wu_name,rc_sitecode,rc_activity,rc_coupon,rc_number,rc_oil_gun,rc_oil_num,rc_nocard_phone)
        values (#{rc_consumer_projects},#{rc_consumer_projects_code},#{rc_datetime},
        #{rc_actual_amount},#{rc_amount_payable},#{rc_wu_id},#{rc_wu_name},#{rc_sitecode},#{rc_activity},#{rc_coupon},#{rc_number},#{rc_oil_gun},#{rc_oil_num},#{rc_nocard_phone})
    </insert>

    <!-- 新增消费记录 -->
    <insert id="insertRecordsConsumption" parameterType="com.gas.pojo.Records_consumption">
        insert into records_consumption(rc_consumer_projects,rc_consumer_projects_code,rc_datetime,
        rc_actual_amount,rc_amount_payable,rc_wu_id,rc_wu_name,rc_sitecode,rc_activity,rc_coupon,rc_number,rc_oil_gun,rc_oil_num,rc_nocard_phone,rc_oil_price)
        values (#{rc_consumer_projects},#{rc_consumer_projects_code},#{rc_datetime},
        #{rc_actual_amount},#{rc_amount_payable},#{rc_wu_id},#{rc_wu_name},#{rc_sitecode},#{rc_activity},#{rc_coupon},#{rc_number},#{rc_oil_gun},#{rc_oil_num},#{rc_nocard_phone},#{rc_oil_price})
    </insert>

    <!-- 减少账户余额 -->
    <update id="updateWechatBalanceInfo" parameterType="Wechat_users">
        update wechat_users set wu_remainder=wu_remainder-#{wu_remainder} where wu_id=#{wu_id}
    </update>

    <!-- 减少账户优惠券数量 -->
    <update id="updateWuCouponNum" parameterType="com.gas.pojo.Wu_coupon_information">
        update wu_coupon_information set wci_number=wci_number-1 where wci_wu_id=#{wci_wu_id} and wci_coupon_type=#{wci_coupon_type}
    </update>

    <!-- 嘉联支付 -->
    <insert id="insertJlOrder" parameterType="JlOrder">
        insert into jl_order(ret_code,ret_msg,sign,status,mch_id,org_code,term_no,device_info,transaction_id,out_trade_no,total_fee,pay_info,order_time,pay_type,trans_time)
        values (#{ret_code},#{ret_msg},#{sign},#{status},#{mch_id},#{org_code},#{term_no},#{device_info},#{transaction_id},#{out_trade_no},#{total_fee},#{pay_info},#{order_time},#{pay_type},#{trans_time})
    </insert>
    <!-- 根据单号查询消费记录 -->
    <select id="findRecordsByRcNum" parameterType="String" resultType="Records_consumption">
        select * from records_consumption where rc_number=#{out_trade_no}
    </select>

    <!--查询全部会员日-->
    <select id="findAllMember_day" parameterType="Integer" resultType="Member_day">
        select * from member_day where med_sitecode=#{med_sitecode} and med_del=1
    </select>

    <!--根据油品ID 星期值 查询会员日-->
    <select id="findMember_dayByMed_op_id" parameterType="Integer" resultType="Member_day">
        select * from member_day where med_op_id=#{param1} and med_weekday=#{param2} and med_sitecode=#{param3} and med_del=1
    </select>

    <!--新增会员日-->
    <insert id="insertMember_day" parameterType="Member_day">
        insert into member_day (med_weekday,med_float_value,med_op_id,med_sitecode,med_del)
        value (#{med_weekday},#{med_float_value},#{med_op_id},#{med_sitecode},1)
    </insert>

    <!--删除会员日-->
    <update id="deleteMember_day" parameterType="Integer">
        update member_day set med_del=2 where med_id=#{med_id}
    </update>

    <!-- 修改会员日 -->
    <update id="updateMember_day" parameterType="Member_day">
        update member_day
        <set>
            <if test="med_weekday!=0 and med_weekday!=null">
                med_weekday=#{med_weekday},
            </if>
            <if test="med_float_value!=null">
                med_float_value=#{med_float_value},
            </if>
            <if test="med_op_id!=0 and med_op_id!=null">
                med_op_id=#{med_op_id},
            </if>
            <if test="med_sitecode!=0 and med_sitecode!=null">
                med_sitecode=#{med_sitecode}
            </if>
        </set> where med_id=#{med_id}
    </update>

    <!--查询无卡消费明细-->
    <select id="findRecords_consumptionByNocard" parameterType="Integer" resultType="Records_consumption">
        select rc.rc_id,rc.rc_consumer_projects,rc.rc_consumer_projects_code,rc.rc_actual_amount,rc.rc_amount_payable,rc.rc_datetime rc_Date_str,rc.rc_oil_gun,rc.rc_oil_num,op.op_price rc_oil_price
        from records_consumption rc,oil_price op
        where rc.rc_consumer_projects_code=op.op_id and rc.rc_wu_id is null and rc.rc_sitecode=#{rc_sitecode} order by rc.rc_id desc
    </select>


    <!--   ~~~~~~~~~~~~~~~~~~~~~~~~~~ 2.0 新增 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~      -->

    <!--查询轮播图-->
    <select id="findCarouselByCal_id" parameterType="Integer" resultMap="findCarouselByCal_idMap">
        select car.*,ppe.ppe_id,ppe.ppe_type,ppe.ppe_url
        from carousel car,product_picture ppe
        where car.cal_id=ppe.ppe_carousel_id and car.cal_id=#{param1} and ppe.ppe_siteid=#{param2} and ppe.ppe_del =1
    </select>

    <!--根据ID 查询会员等级-->
    <select id="findMembership_levelById" parameterType="Integer" resultType="Membership_level">
        select * from membership_level where ml_id=#{ml_id} and ml_del=1
    </select>

    <!--查询全部会员权益  站点-->
    <select id="findAllMembership_rules" parameterType="Integer" resultType="Membership_rules">
       select mr.* from membership_level ml,membership_rules mr where ml.ml_sitecode=#{site_id} and ml.ml_id=mr.mr_ml_id
    </select>

    <!--根据会员等级ID 查询会员权益-->
    <select id="findMembership_rulesByMl_id" parameterType="Integer" resultType="Membership_rules">
        select * from membership_rules where mr_ml_id=#{mr_ml_id}
    </select>

    <!--领取会员卡-->
    <update id="getTheCard" parameterType="Wechat_users">
        update wechat_users
        set wu_qr_code= (SELECT MD5(RAND() * 10000)),
        wu_membership_card_growth =wu_membership_card_growth +#{wu_membership_card_growth },
        wu_ml_id=(select ml_id from membership_level where ml_level=1 and ml_sitecode=#{wu_sitecode}),
        wu_membership_card_number=CONCAT((replace ((replace ((replace ((select now()),'-','')),' ','')),':','')),(select getnextnum('seq_test1_num1'))),
        wu_remainder=wu_remainder+#{wu_remainder}
        where wu_id=#{wu_id}
    </update>

    <!--查询开卡福利-->
    <select id="findDevelopment_welfareById" parameterType="Integer" resultType="Development_welfare">
        select * from development_welfare where dwe_siteid=#{dwe_siteid}
    </select>

    <!--变更用户信息 成长值-->
    <update id="updateWechat_usersByWu_membership_card_growth" parameterType="Integer">
        update wechat_users set wu_membership_card_growth = wu_membership_card_growth+#{param2} where wu_id=#{param1}
    </update>

    <!--查询用户会员成长值变动记录-->
    <select id="findGrowthvalue_recordByGvr_wu_id" parameterType="Integer" resultType="Growthvalue_record">
        select * from growthvalue_record where gvr_wu_id=#{gvr_wu_id}
    </select>

    <!--添加会员成长值变更记录-->
    <insert id="insertGrowthvalue_record" parameterType="Growthvalue_record">
        insert into growthvalue_record (gvr_valuenum,gvr_date,gvr_type,gvr_wu_id)
        values(#{gvr_valuenum},now(),#{gvr_type},#{gvr_wu_id})
    </insert>

    <!--查询全部充值额度-->
    <select id="findAllRecharge" parameterType="Integer" resultType="Recharge">
        select * from recharge where rech_site_id=#{rech_site_id} order by rech_quota asc
    </select>

    <!--查询待支付订单-->
    <select id="findRecharge_informationToBePaid" parameterType="String" resultType="Records_consumption">
        select * from records_consumption_wait where rc_number=#{rc_number}
    </select>

    <!--查询用户的积分详情-->
    <select id="findPoIntegers_detailsByPds_wu_id" parameterType="Integer" resultType="Pointegers_details">
        select * from pointegers_details  where pds_wu_id=#{pds_wu_id}
    </select>

    <!--添加用户积分变更记录-->
    <insert id="insertPointegers_details" parameterType="Pointegers_details">
        insert into pointegers_details (pds_type,pds_operation,pds_project,pds_date,pds_num,pds_wu_id,pds_pim_id)
        value(#{pds_type},#{pds_operation},#{pds_project},now(),#{pds_num},#{pds_wu_id},#{pds_pim_id})
    </insert>

    <!--扣除用户积分值-->
    <update id="updateWechat_usersByWu_current_points" parameterType="Integer">
        update wechat_users set wu_current_points=wu_current_points+#{param2} where wu_id=#{param1}
    </update>

    <!--查询门店积分规则-->
    <select id="findIntegeregral_ruleByLr_siteid" parameterType="Integer" resultType="Integeregral_rule">
        select * from integeregral_rule where lr_siteid=#{lr_siteid}
    </select>

    <!-- 查询用户消费记录 -->
    <select id="findRecords_consumptionByRc_wu_id2" parameterType="Integer" resultType="Records_consumption">
        select * from records_consumption where rc_wu_id=#{param1}
        <if test="rc_type!=0 and rc_type!=null">
            and rc_type=#{param2}
        </if>
    </select>

    <!--变更用户余额信息-->
    <update id="updateWechat_usersByWu_remainder" parameterType="Wechat_users">
        update wechat_users set wu_remainder=wu_remainder+#{wu_remainder} where wu_id=#{wu_id}
    </update>

    <!--查询门店积分商品信息-->
    <select id="findAllPointegers_item" parameterType="Integer" resultMap="findAllPointegers_itemMap">
        select pp.*,pi.*
        from product_picture pp,pointegers_item pi
        where pi.pim_site_id=#{pim_site_id} and pi.pim_del!=2 and pi.pim_id=pp.ppe_pim_id
    </select>

    <!--查询全部奖池奖品-->
    <select id="findAllPoints_lottery" resultType="Points_lottery">
        select * from points_lottery where pl_site_id=#{pl_site_id}
    </select>

    <!--拉取全部油枪信息-->
    <select id="findAllOilGun" parameterType="Integer" resultType="OilGun">
        select * from oil_gun where oil_gun_sitecode=#{param1} and oil_op_id=#{param2}
    </select>

    <!--依据会员等级查询会员信息-->
    <select id="findMembership_levelByMl_level" parameterType="Integer" resultType="Membership_level">
        select * from membership_level where ml_level=#{param1} and ml_sitecode=#{param2}
    </select>

    <!--用户会员你等级提升-->
    <update id="updateWechat_usersByUpgrade" parameterType="Integer">
        update wechat_users set wu_ml_id=#{param2} where wu_id=#{param1}
    </update>

    <!--消费支付成功信息添加-->
    <insert id="insertRecords_consumptionByConsumption" parameterType="Records_consumption" useGeneratedKeys="true" keyProperty="rc_id">
        insert into records_consumption (rc_consumer_projects,rc_consumer_projects_code,rc_datetime,rc_type,rc_actual_amount,rc_amount_payable,rc_wu_id,rc_wu_name,rc_sitecode,
        rc_activity,rc_coupon,rc_integral,rc_member,rc_oil_gun,rc_oil_num,rc_oil_price,rc_balance_deduction,rc_number)
        values(#{rc_consumer_projects},#{rc_consumer_projects_code},#{rc_datetime},#{rc_type},#{rc_actual_amount},#{rc_amount_payable},#{rc_wu_id},#{rc_wu_name},#{rc_sitecode},#{rc_activity},
        #{rc_coupon},#{rc_integral},#{rc_member},#{rc_oil_gun},#{rc_oil_num},#{rc_oil_price},#{rc_balance_deduction},#{rc_number})
    </insert>

    <!--添加充值信息-->
    <insert id="insertRecharge_information" parameterType="Records_consumption" useGeneratedKeys="true" keyProperty="rc_id">
        insert into records_consumption (rc_datetime,rc_type,rc_actual_amount,rc_amount_payable,rc_wu_id,rc_sitecode,rc_number)
        values (#{rc_datetime},#{rc_type},#{rc_actual_amount},#{rc_amount_payable},#{rc_wu_id},#{rc_sitecode},#{rc_number})
    </insert>

    <!--添加充值  待支付  信息-->
    <insert id="insertRecharge_informationToBePaid" parameterType="Records_consumption" useGeneratedKeys="true" keyProperty="rc_id">
        insert into records_consumption_wait (rc_datetime,rc_type,rc_actual_amount,rc_amount_payable,rc_wu_id,rc_sitecode,rc_number)
        values (NOW(),#{rc_type},#{rc_actual_amount},#{rc_amount_payable},#{rc_wu_id},#{rc_sitecode},
        CONCAT((replace ((replace ((replace ((select now()),'-','')),' ','')),':','')),(select getnextnum('seq_test1_num1'))))
    </insert>

    <!--消费  待支付  信息添加-->
    <insert id="insertRecords_consumptionByConsumptionToBePaid" parameterType="Records_consumption" useGeneratedKeys="true" keyProperty="rc_id">
        insert into records_consumption_wait (rc_consumer_projects,rc_consumer_projects_code,rc_datetime,rc_type,rc_actual_amount,rc_amount_payable,rc_wu_id,rc_wu_name,rc_sitecode,
        rc_activity,rc_coupon,rc_integral,rc_member,rc_number,rc_oil_gun,rc_oil_num,rc_oil_price,rc_balance_deduction)
        values(#{rc_consumer_projects},#{rc_consumer_projects_code},NOW(),#{rc_type},#{rc_actual_amount},#{rc_amount_payable},#{rc_wu_id},#{rc_wu_name},#{rc_sitecode},#{rc_activity},
        #{rc_coupon},#{rc_integral},#{rc_member},
        CONCAT((replace ((replace ((replace ((select now()),'-','')),' ','')),':','')),(select getnextnum('seq_test1_num1'))),
        #{rc_oil_gun},#{rc_oil_num},#{rc_oil_price},#{rc_balance_deduction})
    </insert>

    <!--优惠券使用-->
    <update id="updateCouponState" parameterType="Integer">
        update wu_coupon_information set wci_state=2 where wci_coupon_id=#{param1} and wci_wu_id=#{param2}
    </update>

    <!--查询是否符合活动-->
    <select id="findActivityNow" parameterType="Activity" resultType="Activity">
        select * from activity where activity_oil_price=#{param1} and activity_siteid=#{param2} and (NOW() BETWEEN activity_start_date and activity_end_date)
    </select>

    <!--校验优惠券是否重复-->
    <select id="findCouponExperimentalRepetition" parameterType="Integer" resultType="Wu_coupon_information">
        select * from wu_coupon_information where wci_coupon_id=#{param1} and wci_wu_id=#{param2} and wci_state =1
    </select>

    <!--依据消费记录ID查询-->
    <select id="findRecords_consumptionById" parameterType="Integer" resultType="Records_consumption">
        select * from records_consumption where rc_id=#{rc_id}
    </select>

    <!--依据消费记录ID 待支付  查询-->
    <select id="findrecords_consumption_waitById" parameterType="Integer" resultType="Records_consumption">
        select * from records_consumption_wait where rc_id=#{rc_id}
    </select>

    <!--依据单号查询消费记录-->
    <select id="findRecords_consumptionByRc_number" parameterType="String" resultType="Property_change">
        select * from property_change where pce_code=#{pce_code}
    </select>

    <!--添加属性变更信息-->
    <insert id="insertProperty_change" parameterType="Property_change">
        insert into property_change (pce_code,pce_integral,pce_coupon,pce_growth_value,pce_balance,pce_wu_id,pce_site_id,pce_type,pce_money)
        values(#{pce_code},#{pce_integral},#{pce_coupon},#{pce_growth_value},#{pce_balance},#{pce_wu_id},#{pce_site_id},#{pce_type},#{pce_money})
    </insert>


</mapper>